.App {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex: 1;
  flex-direction: column;
}

html {
  background-color: #282c34;
}

#header-container {
  width: 100%;
  justify-content: flex-start;
  padding: 24px 24px 0 24px;
  margin-bottom: -150px;
  font-size: 48px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 24px;
  color: white;
  border-top: solid thin #4ecca3;
}

footer img {
  width: 30px;
}

.App img {
  max-width: 600px;
}

#clap-container {
  font-size: 400px;
  width: 100%;
  text-align: center;
}

#marketing-catch-phrase {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: -150px;
  margin-bottom: 24px;
}

#demo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
